@import "./additionals/variables";
// color
@each $key, $value in $colors {
  .text-#{$key} {
    color: $value !important;
  }
}

// background-color
@each $key, $value in $colors {
  .color-#{$key} {
    background-color: $value !important;
  }
}

// font-size
@each $key, $value in $font-sizes {
  .fs-#{$key} {
    font-size: $value !important;
  }
}

// font-weight
@each $key, $value in $font-weights {
  .fw-#{$key} {
    font-weight: $value !important;
  }
}

// text-align
@each $key, $value in $text-directions {
  .text-#{$key} {
    text-align: $value !important;
  }
}

// line-height
@each $key, $value in $line-heights {
  .lh-#{$key} {
    line-height: $value !important;
  }
}

// visibility
@each $key, $value in $visibilities {
  .v-#{$key} {
    visibility: $value !important;
  }
}

// display
@each $key, $value in $displays {
  .d-#{$key} {
    display: $value !important;
  }
}

// margin
@each $key, $value in $spaces {
  .m-#{$key} {
    margin: $value !important;
  }
  .ml-#{$key} {
    margin-left: $value !important;
  }
  .mr-#{$key} {
    margin-right: $value !important;
  }
  .mx-#{$key} {
    margin-right: $value !important;
    margin-left: $value !important;
  }
  .mt-#{$key} {
    margin-top: $value !important;
  }
  .mb-#{$key} {
    margin-bottom: $value !important;
  }
  .my-#{$key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}

// padding
@each $key, $value in $spaces {
  .p-#{$key} {
    padding: $value !important;
  }
  .pl-#{$key} {
    padding-left: $value !important;
  }
  .pr-#{$key} {
    padding-right: $value !important;
  }
  .px-#{$key} {
    padding-right: $value !important;
    padding-left: $value !important;
  }
  .pt-#{$key} {
    padding-top: $value !important;
  }
  .pb-#{$key} {
    padding-bottom: $value !important;
  }
  .py-#{$key} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}

// flex-directions
@each $key, $value in $flex-directions {
  .flex-direction-#{$key} {
    flex-direction: $value !important;
  }
}

// justify-content
@each $key, $value in $justify-content-positions {
  .justify-content-#{$key} {
    justify-content: $value !important;
  }
}

// align-items
@each $key, $value in $align-items-positions {
  .align-items-#{$key} {
    align-items: $value !important;
  }
}

// util
.clickable {
  cursor: pointer !important;
}

// white-space
.ws-pre-wrap {
  white-space: pre-wrap !important;
}

.ws-nowrap {
  white-space: nowrap !important;
}

.overflow-auto {
  overflow: auto !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}
