
@import "./additionals/variables";
@import "./common";

html,
body{
  margin: 0px;
}

section{
  width: $size-max-vw;
  text-align: center;
  table{
    display: inline-table;
    width: $size-def-max-vw;
    text-align: start;
    margin: auto;
    border: 1.5px solid $color-solid;
    border-collapse:  collapse;
    tr{
      color: $color-black;
      background-color: $color-white;
      th{
      color: $color-white;
      background-color: rgb(154, 190, 255);
      border: 1px solid $color-solid;
      }
      td{
        border: 1px solid $color-solid;
        padding: $padding-all-min;
        &.button{
          text-align: center;
        }
      }
    }
  }
}

//Text入力欄
textarea{
  width: $size-max;
  height: $size-xl;
}
//Title入力欄
input[type="text"] {
  width: $size-max;
  height: $size-xl;
}

//button
a{
  background-color: $color-default-button;
  border-radius: $size-xs;
  padding: $padding-all-min;
  margin: 5px 2.5px 5px 0;
  color: $color-white;
  text-decoration: none;
}


.comment-card{
  margin: 0px;
}

//comment.erb
.comments-card{
  height: 50vh;
  width: 40vw;
  text-align: start;
  padding: $padding-all-default;
  overflow: overlay;
  background-color: $color-white;
  h2{
    background-color: $color-black;
    color: $color-white;
  }
}

.comment-destroy{
  margin: 0px;
}

.comment-form-scope{
  display: flex;
  justify-content: center;
}

.create-comment-scope{
  margin-top: $size-lg;
  text-align: start;
  margin-left: $size-xxxl;
  input[type="submit"] {
    border: 0px;
    height: $size-xl;
    width: $size-xxxl + $size-md;
    background-color: $color-default-button;
    border-radius: $size-xs;
    padding: $padding-all-min;
    color: $color-white;
    text-decoration: none;
  }
}
.comment-destroy a{
  background-color: $color-destroy-button;
}

.comment-status{
}

.comment-title{
  width: 50vw;
}

.comment-body{
  width: 50vw;
}
