/*
*= require normalize-rails
*= require_self
*= require_tree .
 */

@import "./additionals/variables";
@import "./additionals/header";
@import "_common";

html,
body {
  height: 100%;
  background-color: rgb(226, 249, 255);
}

//iicom-sub コピペ
//ここから
body {
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  line-height: inherit;
}

a {
  color: unset;
  text-decoration: none;
}

a,
button,
.hoverable {
  @media (hover: hover) {
    &:hover {
      transition: opacity 0.3s;
      opacity: 0.5;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.default-btn-wrapper {
  width: 200px;
}

.default-sm-btn-wrapper {
  width: 150px;
}

.default-lg-btn-wrapper {
  width: 220px;
}

ul {
  &.error {
    list-style: none;
    li {
      color: $color-red;
    }
  }
}
//ここまで



//テーブル
.post-table {
  width: 70%;
  border: 1.5px solid $color-gray;
  border-collapse:  collapse;
  .post-th {
    border: 1px solid $color-gray;
    }
  .post-td {
    border: 1px solid $color-gray;
    &.button {
      //中央配置 + 縦線削除
      border-left: 0px;
      border-right: 0px;
    }
  }
}

//button
.btn {
  border-radius: 5px;
  text-decoration: none;
}
//newボタンのmargin
.new-btn {
  width: 40%;
  padding: 50px 50px 0 50px;
  border-radius: 10px;
  .input-new {
    width: 40%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    padding: 17px;
    text-decoration: none;
  }
}

//記事作成カード
.blog_card {
  width: 40%;
  padding: 50px 50px 0 50px;
  border-radius: 10px;
  .from-input-scope {
    display: grid;
  }
  //Title入力欄
  input[type="text"] {
    height: 50px;
  }
  //Text入力欄
  textarea {
    height: 50px;
  }
  //Create Articleボタン
  input[type="submit"] {
    width: 40%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
  }
}
//エラーメッセージ
.error-message {
  font-size: 10px;
  .error-ul{
    list-style: none;
  }
}

//コメント追加
.comment-block {
  width: 50%;
  //コメントカード
  .comment_card {
    width: 90%;
    padding: 50px 50px 0 50px;
    border-radius: 10px;
    .from-input-scope {
      display: grid;
    }
    //commenter入力欄
    input[type="text"] {
      height: 50px;
    }
    //body入力欄
    textarea {
      height: 50px;
    }
    //Create Commentボタン
    input[type="submit"] {
      width: 55%;
      height: 50px;
      border: 0px;
      border-radius: 5px;
      text-decoration: none;
    }
  }
}

//コメントブロック
.comments-block {
  height: 75%;
  overflow: overlay;
  .comment-area {
    border-radius: 10px;
  }
  //削除ボタン
  .destroy-btn {
    border-radius: 10px;
  }
}

