// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "./additionals/variables";
@import "./additionals/setting";

//Text入力欄
textarea{
  width: $size-max;
  height: $size-xl;
}
//Title入力欄
input[type="text"] {
  width: $size-max;
  height: $size-xl;
}

.form-scope{
  text-align: center;
  p{
    color: $color-black;
    font-size: large;
  }
}

.create-scope{
  margin-top: $size-lg;
  input[type="submit"] {
    border: 0px;
    height: $size-xl;
    width: $size-xxxl + $size-md;
    background-color: $color-default-button;
    border-radius: $size-xs;
    padding: $padding-all-min;
    color: $color-white;
    text-decoration: none;
  }
}

section{
  width: $size-max-vw;
  text-align: center;
  table{
    display: inline-table;
    width: $size-def-max-vw;
    text-align: start;
    margin: auto;
    border: 1.5px solid $color-solid;
    border-collapse:  collapse;
    tr{
      color: $color-black;
      background-color: $color-white;
      th{
      color: $color-white;
      background-color: rgb(154, 190, 255);
      border: 1px solid $color-solid;
      }
      td{
        border: 1px solid $color-solid;
        padding: $padding-all-min;
        &.button{
          text-align: center;
        }
      }
    }
  }
}

.new-scope{
  margin-top: $size-xl;
}

a{
  background-color: $color-default-button;
  border-radius: $size-xs;
  padding: $padding-all-min;
  margin: 5px 2.5px 5px 0;
  color: $color-white;
  text-decoration: none;
  &.show{
    background-color: $color-default-button;
  }
  &.edit{
    background-color: $color-edit-button;
  }
  &.destroy{
    background-color: $color-destroy-button;
  }
  &.create{
    background-color: $color-default-button;
  }
}



//showスクリーン

.show-screen{
  width: $size-max-vw;
}

.card{
  width: $size-max-vw;
  display: flex;
  border: 2px solid $color-solid;
}
.blog-card{
  margin: auto;
  text-align: center;
  padding: $padding-all-default;
  width: $size-max-vw;
  height: $size-def-min-vh;
  border-right: 2px solid $color-solid;
}
.blog-body{
  font-size: 27px;
  text-align: left;
}
.blog-title{
  font-size: 27px;
  text-align: left;
}




